/* form styles.css */

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error-msg {
    color: red;
}

a {
    text-align: center;
    margin-top: 20px;
    display: block;
}
body{
    background: #cfe1ff;
}
